<section class="post">
    <div class="post-header-wrapper">
        <div class="post-header post-header--dw">
            <a href="{{ site.baseurl }}{{ include.post.url }}"><h3 class="post-header-title">{{ include.post.title }}</h3></a>
            <h4 class="post-header-date"><span class="ordinal">{{ include.post.date | date: "%e" }}</span> {{ include.post.date | date: "%B &#8217;%y" }}</h4>
        </div>
        {% if include.post.location.names.first %} 
        <div class="post-header-map">
            <a href="https://www.google.com/maps/search/?api=1&query={{include.post.location.names.first}}", target="_blank">
                <div class="map-image" style="background-image: url('https://maps.googleapis.com/maps/api/staticmap?{% for location in include.post.location.names %}{% if forloop.first %}center={{location}}&markers=color:blue%7C{{location}}{% else %}&markers=color:blue%7C{{location}}{% endif %}{% endfor %}&zoom={% if include.post.location.zoom %}{{include.post.location.zoom}}{% else %}13{% endif %}&size=900x200&scale=2&sensor=false&visual_refresh=true&key={{site.maps.apiKey}}&style={{site.maps.style}}')"></div>
            </a>
        </div>
        {% endif %}
    </div>
    <div class="post-body">
        {{ include.content }}
    </div>
    <div class="post-footer">
        <ul class="post-footer-tags">
            {% for tag in include.post.tags %}
              <li class="post-footer-tag">#{{ tag }}</li>
            {% endfor %}
        </ul>
        <a href="https://www.google.com/maps/search/{{ include.post.location.names.first }}" target="_blank" class="post-footer-location">{{ include.post.location.names | join: " • " }}</a>
    </div>
</section>