<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
    <body>
      <div id="ribbon"></div>
      <div id="wrap">
        {% include header.html %}
        <div id="google-translate-button"></div>
        <script type="text/javascript">
function googleTranslateElementInit() {
new google.translate.TranslateElement({pageLanguage: 'en'}, 'google-translate-button');
}
</script>
        {{ content }}
      </div>
      {% include footer.html %}
      <script type="text/javascript" src="{{ site.baseurl }}/js/travelog.js"></script>
    </body>
</html>
